<h1>datos</h1>



<h1>Crear Author</h1>

<form action="/Authors/crearAutor" method="post">
  <div class="form-group row">
    <label for="nombre" class="col-2 col-form-label">Nombre</label>
    <div class="col-10">
      <input class="form-control" type="text" placeholder="Ingrese nombre" id="nombre" name="nombre">
    </div>
  </div>

  <button type="submit" class="btn btn-success">Crear</button>



</form>
